@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-alt: "Sora", sans-serif;
    --font-primary: "Be Vietnam Pro", sans-serif;

    /* #AF985A = hsl(44, 35%, 52%) */
    --base-color: 44 35% 52%;
    --background: 0 0% 100%;
    /* #33322f */
    --foreground: 40 3% 19%;

    --card: 0 0% 100%;
    --card-foreground: 40 3% 19%;

    --popover: 0 0% 100%;
    --popover-foreground: 40 3% 19%;

    --primary: 44 35% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 40 3% 19%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 220 7% 56%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 40 3% 19%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 44 35% 52%;

    --radius: 0.5rem;

    /* #33322f */
    --dark-gray: 40 3% 19%;
    /* #868d98 */
    --medium-gray: 218 8% 56%;
    --extra-medium-gray: 0 0% 89%;
    /* #f0f4fd */
    --solitude-blue: 222 78% 96%;
    /* #33322f */
    --slate-blue: 40 3% 19%;
    /* #23262d */
    --extra-medium-slate-blue: 220 12% 16%;
    /* #1f232c */
    --dark-slate-blue: 222 18% 15%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-primary);
    font-size: 17px;
    line-height: 32px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-alt);
    margin-bottom: 25px;
  }
}

html {
  scroll-behavior: smooth;
}
